<table class="styled-table">
    <thead>
        <tr>
            <th>state_id</th>
            <th>income_tax</th>
            <th>sales_tax</th>
            <th>regional_tax</th>
            <th>property_tax</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations">
            <td>{{location.state_id}}</td>
            <td>{{location.income_tax}}</td>
            <td>{{location.sales_tax}}</td>
            <td>{{location.regional_tax}}</td>
            <td>{{location.property_tax}}</td>
        </tr>
    </tbody>
</table>
