<mat-card>
    <form>
        <div>
            <mat-label>Input 1</mat-label>
            <input matInput type="text">
        </div>

        <div>
            <mat-label>Input 2</mat-label>
            <input matInput type="text">
        </div>

        <div>
            <mat-label>Input 3</mat-label>
            <input matInput type="text">
        </div>

        <div>
            <mat-label>Input 4</mat-label>
            <input matInput type="text">
        </div>

    </form>
</mat-card>


